#nickname {
    background-color :blueviolet;
    text-allign : left;
}

li {
    background-color: black;
    text-align: left;
    float:left;
}

h1 a {
    font-size: 30px;
}

img {

    width : 600px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 16px;
    overflow: hidden;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 32px;
    text-decoration: none;
  }

  #sns {
       width : 100px;
  }

  #site {
    width : 90px;
}

#youtube {
    width : 100px;
}